@charset "utf-8";
.height-full{
    height: 100%;
}
.chose-doctor{
    position: relative;
    padding-top: 48px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    header{
        @extend .clearfix;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        background: #dcdcdc;
        padding: 7px 30px 1px 30px;
        margin-bottom: 0;
        .login-logout{
            color:  #fff;
            font-size: 13px;
            font-weight: 400;
            line-height: 30px;
            text-align: center;
            background: #b45a00;
            padding: 0 15.5px;
            margin-left: 7px;
        }
        .turn-back{
            margin-left: 20px;
            color:  #000;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            &:hover{
                text-decoration: none;
            }
            i{
                margin-right: 0px;
                &:first-child{
                    margin-right: 12px;
                }
            }
        }
        .profile{
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            li{
                text-align: right;
            }
            a{
                color:  #b45a00;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                span{
                    color:  #010000;
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 13px;
                }
            }
        }
        .first-available{
            position: absolute;
            bottom: -42px;
            right: 34px;
            color:  #fff;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-decoration: underline;
        }
    }
    footer{
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 48px;
        line-height: 48px;
        background: #dcdcdc;
        text-align: center;
        ul{
            display: inline-block;
            padding: 0;
            list-style: none;
            li{
                display: inline-block;
                a{
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    line-height: 32px;
                    text-align: center;
                    background: #4d4d4d;
                    color: #dcdcdc;
                    border-radius: 50%;
                    font-size: 19px;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .doctors-table{
        @extend .clearfix;
        width: 1152px;
        margin: 0 auto;
        margin-top: 58px;
        .bg-blue{
            background: #aecce0;
            form{
                padding: 6px 5px 0px 7px;
                border-bottom: 1px solid #80abc2;
            }
        }
        .form-group{
            margin-bottom: 7px;
        }
        .table-section{
            width: 960px;
        }
        .bootstrap-select{
            button, button:hover{
                height: 32px;
                background-color: #fff;
                padding: 6px 5px;
                outline: none;
                border: none;
                &:before{
                    content: '';
                    position: absolute;
                    right: 36px;
                    top: 3px;
                    width: 1px;
                    height: 25px;
                    background: #c8c8c8;
                }
                span{
                    color: #000;
                }
                .caret{
                    border-top: none;
                    border-right: none;
                    border-left: none;
                    &:before{
                        font-family: FontAwesome;
                        content: "\f107";
                        color: #666666;
                        font-size: 24px;
                        font-weight: bold;
                        position: absolute;
                        top: -14px;
                        right: -2px;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        outline: none;
                    }
                }
            }
        }
        .practice{
            width: 100%!important;
            padding-right: 46px;
        }
        .language{
            width: 170px!important;
            float: left!important;
            margin-right: 4px;
        }
        .filters, .apply, .clear{
            float: left;
            margin-right: 1px;
            position: relative;
            top: 2px;
            text-align: center;
            height: 30px;
            line-height: 30px;
            color:  #fefefe;
            font-size: 13px;
            font-weight: 400;
        }
        .filters{
            width: 119px;
            background: #8a9fae;
            &:hover{
                text-decoration: none;
            }
            span{
                color: #000;
            }
        }
        .apply, .clear{
            width: 86px;
            border: none;
            box-shadow: none;
        }
        .apply{
            background: #990066;
        }
        .clear{
            background: #333333;
        }
        .calendar{
            margin-bottom: 0px;
            th{
                padding: 0px;
                height: 30px;
            }
        }
        .table-blue{
            background: #b8cce0;
        }
        .prev, .next{
            width: 106px;
            float: left;
            position: relative;
            font-size: 11px;
            font-weight: 400;
            line-height: 26px;
            i{
                position: absolute;
                top: -4px;
                font-size: 34px;
                font-weight: bold;
            }
        }
        .prev{
            color:  rgba(51, 51, 51, 0.5);
            text-align: left;
            padding-left: 35px;
            i{
                left: 11px;
            }
        }
        .next{
            color:  #333333;
            text-align: right;
            padding-right: 35px;
            i{
                right: 11px;
            }
        }
        .grey-cell{
            float: left;
            padding: 0 8px;
            text-align: center;
            color:  #fff;
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            background: #6b748d;
            button{
                position: relative;
                background: none;
                border: none;
                box-shadow: none;
                outline: none;
                padding: 0 29px 0 0;
                line-height: 30px;
                i{
                    position: absolute;
                    top: -2px;
                    right: 3px;
                    color: #333;
                    font-size: 34px;
                    font-weight: bold;
                }
            }
        }
        .week{
            td{
                padding: 19px 0 8px 6px;
                color:  #000;
                font-size: 12px;
                font-weight: 400;
            }
            span{
                color:  rgba(0, 0, 0, 0.32);
                font-size: 24px;
                font-weight: 400;
                line-height: 24px;
                &.purple{
                    color:  #990066;
                }
                &.black{
                    color:  #000;
                }
            }
        }
        .days{
            td{
                padding: 9px 1px;
            }
            span{
                display: block;
                padding: 12px 0 6px 3px;
                background: #84bf69;
                margin-top: 13px;
                font-family: 'Roboto';
                color:  #000;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                &:first-child{
                    margin-top: 0px;
                }
            }
        }
        .doctor{
            border-bottom: 1px solid #80abc2;
            background: #fff;
            padding: 0 10px 9px 10px;
            height: 135px;
            .row,.col-xs-6{
                height: 100%;
            }
            h2{
                color:  #000;
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
                margin-top: 12px;
                margin-bottom: 10px;
            }
            .img{
                float: left;
                margin-right: 6px;
                width: 60px;
                height: 60px;
                border: 1px solid #cccccc;
            }
            a{
                color:  #990066;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
            }
            span{
                display: block;
                font-family: 'Roboto';
                color:  #999;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
            }
        }
        .reviews{
            padding-top: 10px;
            position: relative;
            .rate{
                position: relative;
                left: -17px;
            }
            span{
                font-family: 'Roboto';
                color:  #b45a00;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
            }
            p{
                margin-top: 11px;
                color:  #999;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
            }
            .button{
                position: absolute;
                bottom: 0px;
                right: 0px;
                display: inline-block;
                background: #77be44;
                padding: 8px 16px;
                border: 1px solid #ccc;
                color:  #fff;
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                text-align: center;
            }
        }
    }
    .customer{
        width: 820px;
        h2{
            color:  #000000;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
        }
        .control-label, .input{
            float: left;
        }
        .control-label{
            width: 130px;
            padding-right: 13px;
            color:  #000000;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            text-align: right;
            text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.24);
        }
        .forgot{
            margin-top: 16px;
            margin-bottom: 22px;
            display: block;
            width: 401px;
            text-align: right;
            font-family: 'Roboto';
            color:  #b45a00;
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
        }
        .input{
            width: 271px;
        }
        button{
            display: inline-block;
            padding: 5px 16.5px;
            border: none;
            box-shadow: none;
            background: #0171bb;
            margin-left: 130px;
            color:  #fffefe;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            margin-bottom: 11px;
        }
        .check{
            padding-left: 130px;
            label{
                color:  #010000;
                font-size: 12px;
                font-weight: 400;
                line-height: 8px;
                margin-bottom: 17px;
                a{
                    color:  #0099cc;
                }
            }
            input[type="checkbox"]{
                display: none;
            }
            input[type="checkbox"] + i{
                position: relative;
                display: inline-block;
                border: solid 1px #999;
                width: 27px;
                height: 27px;
                background: #fff;
                margin-right: 12px;
            }
            input[type="checkbox"]:checked + i{
                &:before{
                    content: '';
                    position: absolute;
                    top: 1px;
                    left: 1px;
                    width: 23px;
                    height: 23px;
                    background: #666666;
                }
                
            }
            span{
                position: relative;
                top: -9px;
            }
        }
        .y-doctor{
            height: 530px;
            border-left: 1px solid #50637e;
            padding-left: 16px;
            h3{
                color:  #010000;
                font-size: 14px;
                font-weight: 400;
                line-height: 14px;
                margin-top: 0px;
                margin-bottom: 15px;
            }
            .img{
                float: left;
                margin-right: 9px;
            }
            .name{
                color:  #000000;
                font-size: 18px;
                font-weight: 400;
                line-height: 20px;
            }
            .consult{
                margin-top: 14px;
                display: block;
                color:  #000000;
                font-size: 14px;
                font-weight: 400;
                line-height: 18px;
            }
            .change{
                margin-top: 16px;
                display: inline-block;
                color:  rgba(0, 0, 0, 0.5);
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
                text-align: center;
                border: 1px solid #7d8fa2;
                padding: 4px 24.5px;
            }
        }
    }
    .text-article{
        width: 1100px;
        margin: 0 auto;
        margin-top: 52px;
        article{
             @include make-xs-column(7.5);
             padding-right: 30px;
            h1{
                color:  #000;
                font-size: 20px;
                font-weight: 700;
                line-height: 18px;
                margin-top: 0px;
                margin-bottom: 48px;
            }
            p{
                color:  #000;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px;
            }
            .terms{
                display: block;
                font-size: 14px;
                margin: 12px 0 8px 0;
                a{
                    color:  #026698;
                }
            }
            .available{
                color:  #b45a00;
                font-size: 14px;
            }
            .started{
                display: inline-block;
                font-family: 'Roboto';
                color:  #fffefe;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                text-align: center;
                background: #0171bb;
                padding: 5px 12px;
            }
        }
        aside{
            @include make-xs-column(4.5);
            padding-left: 29px;
            h3{
                color:  #000;
                font-size: 18px;
                font-weight: 700;
                line-height: 18px;
                margin-top: 5px;
                margin-bottom: 42px;
                margin-left: 63px;
            }
            ul{
                padding: 0 0 0 64px;
                list-style: none;
                li{
                    position: relative;
                    margin-bottom: 60px;
                }
                i{
                    position: absolute;
                    top: -10px;
                    left: -64px;
                    display: inline-block;
                    border-radius: 50%;
                    background-color:  #0171bb;
                    width: 51px;
                    height: 51px;
                    line-height: 51px;
                    text-align: center;
                    color:  #fff;
                    font-size: 24px;
                    font-weight: 400;
                    font-style: normal;
                }
                a, span{
                    display: block;
                }
                a{
                    color:  #fff;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 28px;
                }
                span{
                    color:  #010000;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                }
            }
        }
    }
}

.pagination-block{
    margin-top: 20px;
    margin-bottom: 70px;
    background: #bedbd5;
            .prev, .next{
                width: 106px;
                float: left;
                position: relative;
                font-size: 11px;
                font-weight: 400;
                line-height: 26px;
                i{
                    position: absolute;
                    top: -4px;
                    font-size: 34px;
                    font-weight: bold;
                }
            }
            .prev{
                color:  rgba(51, 51, 51, 0.5);
                text-align: left;
                padding-left: 35px;
                i{
                    left: 11px;
                }
            }
            .next{
                color:  #333333;
                text-align: right;
                padding-right: 35px;
                i{
                    right: 11px;
                }
            }
            ul{
                display: inline-block;
                list-style: none;
                padding: 0;
                margin-top: 5px;
                margin-bottom: 5px;
                li{
                    display: inline-block;
                    margin: 0 8.5px;
                    a{
                        color:  #0171bb;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 16px;
                        &.active{
                            color:  #990066;
                        }
                    }
                }
            }
        }

.nav-line{
            padding: 0;
            list-style: none;
            height: 396px;
            width: 3px;
            background: #fff;
            li{
                display: inline-block;
                a{
                    position: relative;
                    top: -2px;
                    left: -5px;
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background: #fff;
                    border-radius: 50%;
                    margin-bottom: 109px;
                    color:  #fff;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    span{
                        position: absolute;
                        top: 0px;
                        right: -123px;
                        width: 100px;
                    }
                }
                .active{
                    &:before{
                        content: '';
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        width: 8px;
                        height: 8px;
                        background: #b45a00;
                        border-radius: 50%;
                    }
                    span{
                        color:  #010000;
                    }
                }
            }
        }